body {
    background-color: #03101b;
}
img {
    max-width: 100%;
}

h1 {
    color: white;
    text-align: left;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 80px;
}
h1::after {
    content: '';
    width: auto;
    height:6px;
    background-color: #085bd7;
    display: block;
}
.container img {
    margin-top: 150px;
}

label {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2rem;
}
input[type="submit"]{
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    height: auto;
}

.header h1{
    text-align: center;
}

.container h4{
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.container a{
    text-decoration: none;
}

.contenedor{
    padding: 3rem;
}
.error {
    background-color: #b7322c;
    padding: 1rem;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.resultado {
    color: white;

}
.resultado h2 {
    font-weight: bold;
    color: white;
}


.resultado p {
    font-size: 18px!important;
}
.resultado p span {
    font-weight: bold;
}
p.precio{
    font-size: 30px!important;
}

@media (min-width:480px) {
    form {
        margin-top: 150px;
    }
}


.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: white;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.canvas{
    padding:3rem;
    margin: 2rem;
}

.canvas canvas{
    width: 10rem;
    height: 12rem;
}

@media (min-width: 768px) {
    .canvas{
        padding: 5rem;
        margin: 3rem;
    }
}

.footer{
    padding: 3rem;
    text-align: center;
    color: white;
    grid-template-rows: repeat(1,1fr);
    row-gap: 1rem;
    padding: 2rem;
}

.footer h6{
    font-size: 3rem;
}

.footer p{
    font-size: 1.5rem;
}

.footer__header{
    text-align: center;
}

.footer__final{
    padding: 1rem;
}

.footer__final p{
    text-align: center;
}

.footer__final a{
    text-decoration: none;
}

.footer__header,
.footer__final{
    text-align: center;
}